<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>oeu</h1>
    <button type="submit" id="boton">envia</button>sdadad
    <script src="validacion.js"></script>
</body>
</html>